<h3>What's your name?</h3>

<form action='/get_name' method='post'>
  <input type='text' name='player_name' placeholder="Type your name" autofocus />
  <br/>
  <input type='submit' class='btn' />
</form>